* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --total-aspect-ratio: calc(439 / 657);
  --total-width: 40vh;
  --total-min-width: 12rem;
  --total-height: calc(var(--total-width) / var(--total-aspect-ratio));
  --total-min-height: calc(var(--total-min-width) / var(--total-aspect-ratio));
}

html {
  font-size: 4vh;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: rgb(89, 89, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
a,
span,
div {
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 5vh;
  margin: 3vh 0;
}

img {
  position: absolute;
  z-index: 0;
  height: calc(var(--total-height) + 2.3vh);
  width: calc(var(--total-width) + 2vh);
  min-width: var(--total-min-width);
  min-height: var(--total-min-height);
  top: 9.4vh;
  pointer-events: none;
}

.container,
.container > * {
  opacity: 1;
}

.container > * {
  position: relative;
  z-index: 2;
}

.container {
  background-color: #3d3d3d;
  padding: 1.3vh;
  position: absolute;
  z-index: 1;
  height: var(--total-height);
  width: var(--total-width);
  min-width: var(--total-min-width);
  min-height: var(--total-min-height);
  top: 14vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.4fr repeat(5, 1fr);
  grid-gap: 0.9vh;
  border-radius: 0.8vh;
}

.button,
.display {
  border-radius: 0.8vh;
  padding: 2vh;
}

.button {
  background-color: #e1a249;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action {
  background-color: #a6a6a6;
}

.operator {
  background-color: #f5923e;
}

.display {
  background-color: rgb(105, 105, 105);
  height: 100%;
  width: 100%;
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 5vh;
  overflow: hidden;
}

#zero {
  grid-column: 1 / span 2;
  justify-content: flex-start;
}

.button:hover {
  transform: scale(1.02);
  filter: brightness(1.08);
}

.active {
  border: 0.7vh inset #86d6c3;
}
